@import "tailwindcss";

@theme {
  /* Fonts - use font-* utilities */
  --font-primary: "Space Grotesk", sans-serif;
  --font-secondary: "Material Symbols Outlined", sans-serif;

  /* Colors */
  --color-cream: #FCF8F4;
  --color-primary: #75ec13;
  --color-matcha: #7B8C65;
  --color-matcha-dark: #5C6B4B;
  --color-matcha-light: #D8E2D1;
  --color-background-dark: #182210;
  --color-ink: #141b0d;

  /* Radius */
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
  --radius-3xl: 3rem;
  --radius-full: 9999px;

  /* Background Image */
  --background-image-grid-pattern: linear-gradient(to right, #D8E2D1 1px, transparent 1px), linear-gradient(to bottom, #D8E2D1 1px, transparent 1px);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #FCF8F4;
}

::-webkit-scrollbar-thumb {
  background: #D8E2D1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7B8C65;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;

}

/* Material Symbols Utility Class */
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}