/* for tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* for custom cursor */
@media (pointer: fine) {

    html,
    body {
        cursor: none;
    }
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}